html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #991B1B;
    color: #FAFAFA;
}

.page-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-img {
    min-width: 48px;
    max-width: 96px;
    min-height: 48px;
    max-height: 96px;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search input,
.nav-search img {
    height: 24px;
}

.nav-search input {
    padding: 3px;
}

.nav-search button {
    background-color: black;
    border: none;
        cursor: pointer;
    padding: 3px;
}

.nav-search img {
    width: 24px;
}


.content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.title #city-name {
    font-size: 2.1em;
    font-weight: 900;
}

.title #today {
    font-size: 1.2em;
    font-weight: 600;
}

.weather-forecast {
    display: flex;
    flex: 1;
    gap: 36px;
    flex-wrap: wrap;
}

.forecast {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border: 5px solid red;
}

.main, .details {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast .main {
    border: 2px solid green;
    font-size: 24px;
    background-color: #F8FAFC;
}

.main button {
    width: 100px;
}

.forecast .main img {
    min-height: 150px;
    min-width: 150px;
    max-height: 200px;
    max-width: 200px;
}

.forecast .details{
    border:  1px solid grey;
    font-size: 16px;
    background-color: #D1D5DB;
}
